# DATA PREPROCESSING AND FEATURE ENGINEERING IN MACHINE LEARNING

Task 1: Data Exploration and Preprocessing

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [2]:
# Load the dataset
data = pd.read_csv("adult_with_headers.csv")

In [3]:
# Basic data exploration
print(data.head())

   age          workclass  fnlwgt   education  education_num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13

        marital_status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hours_per_week  native_country  income
0          2174             0              40   United-States   <=50K
1             0             0              13   United-States   <=50K
2             0             0              40   United-States   <=50K
3             0             0              40   United-States   <=50K
4             0             0              40            Cuba   <=50K

In [4]:
print(data.describe())

                age        fnlwgt  education_num  capital_gain  capital_loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours_per_week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

In [5]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

In [6]:
# Handling missing values
data.dropna(inplace=True)  # Drop rows with missing values

In [7]:
# Scaling techniques
scaler_standard = StandardScaler()
scaler_minmax = MinMaxScaler()

In [8]:
# Assuming 'age' and 'education-num' are numerical features
data['age_scaled_standard'] = scaler_standard.fit_transform(data[['age']])
data['age_scaled_minmax'] = scaler_minmax.fit_transform(data[['age']])

Task 2: Encoding Techniques

In [9]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [10]:
# One-Hot Encoding
onehot_cols = ['workclass', 'marital_status', 'occupation', 'relationship', 'race']
for col in onehot_cols:
    if len(data[col].unique()) < 5:
        onehot_encoder = OneHotEncoder(drop='first')
        encoded_cols = pd.DataFrame(onehot_encoder.fit_transform(data[[col]]).toarray(),
                                    columns=[col + '_' + str(i) for i in range(1, len(data[col].unique()))])
        data = pd.concat([data, encoded_cols], axis=1)

In [11]:
onehot_cols

['workclass', 'marital_status', 'occupation', 'relationship', 'race']

In [12]:
data

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income,age_scaled_standard,age_scaled_minmax
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,0.030671,0.301370
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0.837109,0.452055
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,-0.042642,0.287671
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,1.057047,0.493151
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,-0.775768,0.150685
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,-0.849080,0.136986
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,0.103983,0.315068
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,1.423610,0.561644
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,-1.215643,0.068493
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,0.983734,0.479452

Task 3: Feature Engineering

In [13]:
# Create new features
data['capital-gain-minus-loss'] = data['capital_gain'] - data['capital_loss']
data['age_squared'] = data['age'] ** 2

In [14]:
# Apply log transformation to skewed numerical feature (assuming 'capital-gain' is skewed)
import numpy as np
data['capital-gain_log'] = np.log1p(data['capital_gain'])

Task 4: Feature Selection python

In [15]:
from sklearn.ensemble import IsolationForest

In [16]:
data =pd.read_csv("adult_with_headers.csv",index_col=0)
data_encoded=pd.get_dummies(data)

In [17]:
data_encoded

,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native_country_ Scotland,native_country_ South,native_country_ Taiwan,native_country_ Thailand,native_country_ Trinadad&Tobago,native_country_ United-States,native_country_ Vietnam,native_country_ Yugoslavia,income_ <=50K,income_ >50K
age,,,,,,,,,,,,,,,,,,,,,
39,77516,13,2174,0,40,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
50,83311,13,0,0,13,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
38,215646,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
53,234721,7,0,0,40,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
28,338409,13,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,257302,12,0,0,38,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
40,154374,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
58,151910,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
22,201490,9,0,0,20,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
52,287927,9,15024,0,40,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [18]:
# training the model
clf = IsolationForest(random_state=10,contamination=.01)
clf.fit(data_encoded)

C:\Users\Sony\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

IsolationForest(contamination=0.01, random_state=10)

In [19]:
# predictions
y_pred_outliers = clf.predict(data_encoded)
#-1 for outliers and 1 for inliers.
y_pred_outliers

array([1, 1, 1, ..., 1, 1, 1])

In [20]:
data_encoded

,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native_country_ Scotland,native_country_ South,native_country_ Taiwan,native_country_ Thailand,native_country_ Trinadad&Tobago,native_country_ United-States,native_country_ Vietnam,native_country_ Yugoslavia,income_ <=50K,income_ >50K
age,,,,,,,,,,,,,,,,,,,,,
39,77516,13,2174,0,40,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
50,83311,13,0,0,13,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
38,215646,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
53,234721,7,0,0,40,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
28,338409,13,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,257302,12,0,0,38,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
40,154374,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
58,151910,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
22,201490,9,0,0,20,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
52,287927,9,15024,0,40,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [24]:
#install the package
!pip install ppscore

Collecting ppscore
  Downloading ppscore-1.3.0.tar.gz (17 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in c:\users\sony\anaconda3\lib\site-packages (from ppscore) (1.4.4)
Requirement already satisfied: scikit-learn<2.0.0,>=0.20.2 in c:\users\sony\anaconda3\lib\site-packages (from ppscore) (1.0.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sony\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\sony\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\sony\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (1.24.4)
Requirement already satisfied: joblib>=0.11 in c:\users\sony\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\sony\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\sony\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.9.1)
Requirement already satisfied: six>=1.5 in c:\users\sony\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.0.0->ppscore) (1.16.0)
Building wheels for collected packages: ppscore
  Building wheel for ppscore (setup.py): started
  Building wheel for ppscore (setup.py): finished with status 'done'
  Created wheel for ppscore: filename=ppscore-1.3.0-py2.py3-none-any.whl size=13167 sha256=69cce17a7571366ea8d0c5eecdf408af4318973ed0f7a440c2f265337e1d7333
  Stored in directory: c:\users\sony\appdata\local\pip\cache\wheels\d8\2d\fc\c1699298a1241684a460b125835f7871ee8e3ab3afea9b5d6f
Successfully built ppscore
Installing collected packages: ppscore
Successfully installed ppscore-1.3.0

In [25]:
import ppscore as pps

In [26]:
pps.matrix(data_encoded)

,x,y,ppscore,case,is_valid_score,metric,baseline_score,model_score,model
0,fnlwgt,fnlwgt,1.0,predict_itself,True,None,0.0000,1.000000,None
1,fnlwgt,education_num,0.0,regression,True,mean absolute error,1.8530,2.658967,DecisionTreeRegressor()
2,fnlwgt,capital_gain,0.0,regression,True,mean absolute error,1093.8840,2150.073367,DecisionTreeRegressor()
3,fnlwgt,capital_loss,0.0,regression,True,mean absolute error,94.9426,177.029633,DecisionTreeRegressor()
4,fnlwgt,hours_per_week,0.0,regression,True,mean absolute error,7.6564,12.376833,DecisionTreeRegressor()
...,...,...,...,...,...,...,...,...,...
11876,income_ >50K,native_country_ United-States,0.0,regression,True,mean absolute error,0.1080,0.192238,DecisionTreeRegressor()
11877,income_ >50K,native_country_ Vietnam,0.0,regression,True,mean absolute error,0.0026,0.005189,DecisionTreeRegressor()
11878,income_ >50K,native_country_ Yugoslavia,0.0,regression,True,mean absolute error,0.0012,0.002405,DecisionTreeRegressor()
11879,income_ >50K,income_ <=50K,1.0,regression,True,mean absolute error,0.2424,0.000000,DecisionTreeRegressor()
11880,income_ >50K,income_ >50K,1.0,predict_itself,True,None,0.0000,1.000000,None